<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/scss/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header id="Header" class="bg-dark">
        <nav class="navbar navbar-expand-md navbar-dark">
            <a class="navbar-brand" href="~/">
                <img src="~/images/logo_small.png" style="max-height: 2em;" alt="MyProject">
            </a>
            @{
                if (!User?.Identity?.IsAuthenticated ?? true)
                {
                    <a class="btn-outline-light mx-1 float-right" href="/Login">Login</a>
                }
                else
                {
                    @await Html.PartialAsync("_NavMenu")
                    <p class="nav navbar-text mx-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @Html.Raw($"Welcome {User.Identity.Name}!")
                        }
                    </p>
                }
            }
        </nav>
    </header>
    <div id="MainContent">
        <div class="row h-100">
            <div id="ActionsMenu" class="col-auto">
                @await RenderSectionAsync("ActionsMenu", false)
            </div>
            <div class="col pr-0 h-100 overflow-auto">
                <div id="AlertContainer" class="px-3">
                </div>
                <main role="main">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <footer id="FooterContent">
        <div class="row">
            <div class="col text-center">
                &copy; @(DateTime.Now.Year)
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>