@page
@using Microsoft.AspNetCore.Mvc.Localization
@using MyProject.Web.Extensions
@model MyProject.Web.Pages.Persons.DeleteModel

@inject IHtmlLocalizer<LocalizedStrings> HtmlLocalizer

@{
    ViewData["Title"] = HtmlLocalizer["Delete"].Value;
}



<h3>@HtmlLocalizer["DeleteConfirmationText"]</h3>
<div class="card">
    <div class="card-header">
        <h4>@HtmlLocalizer["Mother"]</h4>
    </div>
    <div class="card-body">
        @Html.DisplayFor(m => m.Record)
        <div class="text-right">
            <form method="post">
                <input type="hidden" asp-for="RecordId"/>
                <input type="submit" value="@HtmlLocalizer["Delete"]" class="btn btn-danger"/>
            </form>
        </div>
    </div>
</div>

@section ActionsMenu {
    <ul class="nav flex-column">
        <li class="nav-item">
            @Html.BackButton(string.Format(HtmlLocalizer["ToDetailsTemplate"].Value, HtmlLocalizer["Persons"].Value) ?? "", $"/Persons/Details/{Model.RecordId}")
        </li>
    </ul>
}
